@using SaberesSyllabus.Repositories
@using SaberesySoluciones.Models
@model List<SaberesySoluciones.Models.Aprendizaje>
@{
    ViewBag.Title = "Aprendizajes";
}

<h2>@ViewBag.Title</h2>

<!--Table show data-->
<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Código</th>
            <th>Categoría</th>
            <th>Sub Categoría</th>
            <th>Descripción</th>
            <th><button type="button" data-toggle="modal" data-target="#modalAdd" class="btn btn-success btn-sm" style="float:right"><i class="fa fa-plus"></i> Añadir</button></th>
        </tr>
    </thead>
        <tbody>
            @foreach (var apren in Model)
            {
                <tr>
                    <td>@apren.Codigo</td>
                    <td>@apren.Categoria</td>
                    <td>@apren.SubCategoria</td>
                    <td style="text-align:justify">@apren.Descripcion</td>
                    <td style="vertical-align: middle; white-space: nowrap; text-align: right">
                        <button id="btn-edit" type="button" data-toggle="modal" data-target="#modalEdit" class="btn btn-warning btn-sm"
                                onclick="edit('@apren.Codigo', '@apren.Categoria', '@apren.SubCategoria', '@apren.Descripcion')">
                            <i class="fa fa-edit"></i> Modificar
                        </button>
                        @if (@apren.Estado.ToString() == "Habilitado")
                        {
                            <button id="btn-disable" type="button" data-toggle="modal" data-target="#modalDisable" class="btn btn-danger btn-sm"
                                    onclick="disable('@apren.Codigo')">
                                <i class="fa fa-eye-slash"></i> Deshabilitar
                            </button>


                        }
                        @if (@apren.Estado.ToString() == "Deshabilitado")
                        {
                            <button id="btn-disable" type="button" data-toggle="modal" data-target="#modalEnable" class="btn btn-primary btn-sm"
                                    onclick="enable('@apren.Codigo')">
                                <i class="fa fa-eye"></i> Habilitar
                            </button>
                        }
                    </td>

                </tr>
            }
        </tbody>
</table>

<!--Scripts-->
<script type="text/javascript">
    disable = function (idapren) {
        document.getElementById("disableapren").setAttribute("value", idapren);
    }

    enable = function (idapren) {
        document.getElementById("enableapren").setAttribute("value", idapren);
    }

    edit = function (cod, cat, subcat, desc) {
        document.getElementById("editcod").setAttribute("value", cod);
        document.getElementById("editcat").setAttribute("value", cat);
        document.getElementById("editsubcat").setAttribute("value", subcat);
        document.getElementById("editdesc").setAttribute("value", desc);
    }
</script>

<!--Modal Add-->
@Html.Partial("_AddAprendizaje")

<!--Modal Edit-->
@Html.Partial("_EditAprendizaje")

<!--Modal Enable-->
@Html.Partial("_EnableAprendizaje")

<!--Modal Disable-->
@Html.Partial("_DisableAprendizaje")

