@model List<SaberesySoluciones.Models.Competencia>
@{
    ViewBag.Title = "Competencias";
}

<h2>@ViewBag.Title</h2>

<script type="text/javascript">
$(document).ready(function() {
    $("#btn-add").click(function(){
        $("#add").modal({show: true});
    });
    $("#btn-edit").click(function () {
        $("#edit").modal({ show: true });
    });
    $("#btn-delete").click(function () {
        $("#delete").modal({ show: true });
    });
    });
</script>

<a href="" id="btn-add" class="btn btn-primary" data-title="add" data-toggle="modal" data-target="#add" style="margin-bottom:10px">Agregar</a>

<table class="table table-hover ">
    <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>Nivel</th>
        <th>Básico</th>
        <th>Intermedio</th>
        <th>Avanzado</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var comp in Model)
    {
        <tr>
            <td style="text-align:center">@comp.Codigo</td>
            <td style="text-align:justify">@comp.Descripcion</td>
            <td>@comp.Nivel</td>
            <td>@comp.Basico</td>
            <td>@comp.Intermedio</td>
            <td>@comp.Avanzado</td>
            <td style="vertical-align: middle">
                <a href="" id="btn-edit" class="btn btn-warning" data-title="edit" data-toggle="modal" data-target="#edit" onclick="editmsj('@comp.Codigo', '@comp.Descripcion', '@comp.Nivel')">Modificar</a>
            </td>
            <td style="vertical-align: middle">
                @if (@comp.Estado == "Habilitado")
                {
                    <a href="" id="btn-delete" class="btn btn-danger" data-title="desh" data-toggle="modal" data-target="#desh" onclick="deshmsj('@comp.Codigo')">Deshabilitar</a>
                }
                @if (@comp.Estado == "Deshabilitado")
                {
                    <a href="" id="btn-delete" class="btn btn-danger" data-title="hab" data-toggle="modal" data-target="#hab" onclick="habmsj('@comp.Codigo')">Habilitar</a>
                }
        </td>

    </tr>
    }

</table>

<script type="text/javascript">
    deshmsj = function (idcomp) {
        document.getElementById("deletecomp").setAttribute("value", idcomp);
    }
    habmsj = function (idcomp) {
        document.getElementById("habcomp").setAttribute("value", idcomp);
    }

    editmsj = function (idcod, descrp, lvl) {
        document.getElementById("editcomp").setAttribute("value", idcod);
        document.getElementById("editdescripcion").setAttribute("value", descrp);
        document.getElementById("editnivel").setAttribute("value", lvl);
    }
</script>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Agregar una Nueva Competencia</h4>
            </div>
            @using (Html.BeginForm("Crear", "Competencias", FormMethod.Post, new { enctype = "multipart/form-data", @style = "border:none", @class = "col-offset-2" }))
            {
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Nombre">Descripción de la Competencia:</label>
                        <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí la descripción de la Competencia." name="descripcion" required>
                    </div>

                    <div class="form-group">
                        <label for="Nombre">Nivel de la Competencia:</label>
                        <input maxlength="200" type="number" min="0" class="form-control" placeholder="300" name="nivel" required>
                    </div>
                </div>
                <input type="hidden" name="codigo" value="-1">
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Crear</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Editar Competencia</h4>
            </div>
            @using (Html.BeginForm("Editar", "Competencias", FormMethod.Post, new { enctype = "multipart/form-data", @style = "border:none", @class = "col-offset-2" }))
            {
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Nombre">Descripción de la Competencia:</label>

                        <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí la descripción de la Competencia." name="descripcion" id="editdescripcion" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="Nombre">Nivel de la Competencia:</label>

                        <input maxlength="200" type="number" min="0" class="form-control" placeholder="300" name="nivel" id="editnivel" value="" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="editcomp" name="codigo" value="" />
                <button type="submit" class="btn btn-primary">Modificar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="desh" tabindex="-1" role="dialog" aria-labelledby="desh" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Deshabilitar Competencia</h4>
            </div>
            @using (Html.BeginForm("Deshabilitar", "Competencias", FormMethod.Post, new { @style = "border:none" }))
            {
            <div class="modal-body">
                <p id="message">¿Estás seguro de que quieres Deshabilitar la Competencia?</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="deletecomp" name="codigo" value="" />
                <button type="submit" class="btn btn-primary">Deshabilitar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="hab" tabindex="-1" role="dialog" aria-labelledby="hab" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Habilitar Competencia</h4>
            </div>
            @using (Html.BeginForm("Habilitar", "Competencias", FormMethod.Post, new { @style = "border:none" }))
            {
                <div class="modal-body">
                    <p id="message">¿Estás seguro de que quieres Habilitar la Competencia?</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="habcomp" name="codigo" value="" />
                    <button type="submit" class="btn btn-primary">Habilitar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>